{% liquid
  assign tipquik_settings_enable_custom_tip_option = app.metafields.tipquik.enable_custom_tip_option
  assign tipquik_settings_enable_powered_tip_quik = app.metafields.tipquik.enable_powered_tip_quik
  assign tipquik_settings_tip_modal_title = app.metafields.tipquik.tip_modal_title
  assign tipquik_settings_tip_modal_description = app.metafields.tipquik.tip_modal_description
  assign tipquik_settings_tip_percent_1 = app.metafields.tipquik.tip_percent_1
  assign tipquik_settings_tip_percent_2 = app.metafields.tipquik.tip_percent_2
  assign tipquik_settings_tip_percent_3 = app.metafields.tipquik.tip_percent_3
  assign tipquik_settings_tip_modal_bg_color = app.metafields.tipquik.tip_modal_bg_color
  assign tipquik_settings_tip_modal_text_color = app.metafields.tipquik.tip_modal_text_color
%}

{% assign tipquik_cart_total = cart.total_price %}

{% for item in cart.items %}
  {% if item.product.handle == 'tip-gratuity' %}
    {% assign tipquik_cart_total = tipquik_cart_total | minus: item.final_line_price %}
    {% break %}
  {% endif %}
{% endfor %}

<style>
  .tj-modal {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 100ms ease-in;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 999999999;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(0,0,0,0.5);
  }

  .tj-modal.tj-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 999999999;
  }

  .tj-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
  }

  .tj-modal-background-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.75;
  }

  .tj-modal-content {
    width: 90vw;
    max-height: 85vh;
    {% if tipquik_settings_tip_modal_bg_color %}
      background-color: {{ tipquik_settings_tip_modal_bg_color }};
    {% else %}
      background-color: #ffffff;
    {% endif %}
    border-radius: 10px;
    overflow: auto;
    padding: 12px 16px 24px 16px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-content {
      width: 90vw;
      max-width: 600px;
      padding: 12px 24px 36px 24px;
    }
  }

  .tj-modal-header {
    padding: 20px 0 16px 0;
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 24px 0 16px 0;
    }
  }

  .tj-modal-header-inner {
    width: 100%;
    text-align: center;
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-header-inner {
      margin: 0 16px 0 16px;
      /* text-align: left; */
    }
  }

  .tj-modal-title {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 8px;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  .tj-modal-description {
    display: block;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }
  .tj-modal-btns-container {
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  @media only screen and (min-width: 480px) {
    .tj-modal-btns-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .tj-modal-btn-wrapper {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 0 8px;
    margin: 12px 0;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  .tj-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 8px 16px;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-btn {
      display: block;
    }
  }

  .tj-modal-btn-percentage {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding-right: 10px;
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-btn-percentage {
      padding-right: 0;
    }
  }

  .tj-modal-btn-amount {
    display: block;
    font-size: 20px;
  }
  @media only screen and (min-width: 480px) {
    .tj-modal-btn-amount {
      margin-top: 8px;
    }
  }

  .tj-modal-btn-none {
    display: block;
    margin-top: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 0 8px;
  }

  .tj-modal-powered {
    display: block;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  .tj-modal-powered a,
  .tj-modal-powered a:hover,
  .tj-modal-powered a:visited,
  .tj-modal-powered a:focus {
    text-decoration: none;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  .tj-modal-success-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    {% if tipquik_settings_tip_modal_bg_color %}
      background-color: {{ tipquik_settings_tip_modal_bg_color }};
    {% else %}
      background-color: #ffffff;
    {% endif %}
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 16px;
  }

  .tj-modal-success-title {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .tj-modal-success-message {
    display: block;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  .tj-modal-loading-icon-container {
    width: 50px;
    margin: 0 auto 24px auto;
    {% if tipquik_settings_tip_modal_text_color %}
      fill: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      fill: #000000;
    {% endif %}
  }

  .tj-modal-loading-icon {
    display: block;
    width: 100%;
    {% if tipquik_settings_tip_modal_text_color %}
      fill: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      fill: #000000;
    {% endif %}
    -webkit-animation: tj-loading .5s linear infinite;
            animation: tj-loading .5s linear infinite
  }

  @-webkit-keyframes tj-loading {
    to {
      -webkit-transform:rotate(1turn);
              transform:rotate(1turn)
    }
  }

  @keyframes tj-loading {
    to {
      -webkit-transform:rotate(1turn);
              transform:rotate(1turn)
    }
  }

  .tj-modal-input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #tipQuikCustomInputWrapper {
    position: relative;
  }
  #tipQuikCustomInputWrapper:before {
    content: "{{cart.currency.symbol}}";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 37px;
    background-color: #eee;
    padding-top: 6px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 100;
  }
  #tipQuikCustomInputWrapper.customInputHidden:before {
    display: none;
  }
  #tipQuikCustomInput {
    padding-left: 45px;
  }

  #tipQuikCustomInputAdd {
    margin-left: 30px;
  }

  input.tj-modal-custom-input {
    min-width: 1px;
    flex-grow: 1;
    margin: 0;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #ffffff;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  @media only screen and (min-width: 480px) {
    .tj-modal-input-add {
      width: 180px;
      flex-basis: 180px;
      flex-shrink: 0;
    }
  }

  .tj-modal-content-wrapper {
    position: relative;
    text-align: center;
    {% if tipquik_settings_tip_modal_text_color %}
      color: {{ tipquik_settings_tip_modal_text_color }};
    {% else %}
      color: #000000;
    {% endif %}
  }

  .tj-modal-close {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0 20px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  .dynamic-checkout__content li[data-testid="grid-cell"] {
    position: relative!important;
  }

  .shopPay-overlay {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    z-index: 1!important;
    cursor: pointer!important;
  }
</style>

<div id="tipQuikModal" class="tj-modal">
  <div class="tj-modal-background">
    <div class="tj-modal-background-inner"></div>
  </div>
  <div class="tj-modal-content-wrapper">
    <div id="tipQuikModalClose" class="tj-modal-close">
      &#10005;
    </div>
    <div class="tj-modal-content">
      <div class="tj-modal-header">
        <div class="tj-modal-header-inner">
          <h3 class="tj-modal-title">
            {{ tipquik_settings_tip_modal_title }}
          </h3>
          <p class="tj-modal-description">
            {{ tipquik_settings_tip_modal_description }}
          </p>
        </div>
      </div>
      <div class="tj-modal-btns-container">
        {% if tipquik_settings_tip_percent_1 %}
          <span class="tj-modal-btn-wrapper">
            <button id="tipQuikBtn1" type="button" class="tj-modal-btn" data-tipquik-add="{{ tipquik_cart_total | times: tipquik_settings_tip_percent_1 | divided_by: 100 }}">
              <span class="tj-modal-btn-percentage">{{tipquik_settings_tip_percent_1}}%</span>
              <span id="tipQuikAmt1" class="tj-modal-btn-amount">{{ tipquik_cart_total | times: tipquik_settings_tip_percent_1 | divided_by: 100 | money }}</span>
            </button>
          </span>
        {% endif %}

        {% if tipquik_settings_tip_percent_2 %}
          <span class="tj-modal-btn-wrapper">
            <button id="tipQuikBtn2" type="button" class="tj-modal-btn" data-tipquik-add="{{ tipquik_cart_total | times: tipquik_settings_tip_percent_2 | divided_by: 100 }}">
              <span class="tj-modal-btn-percentage">{{tipquik_settings_tip_percent_2}}%</span>
              <span id="tipQuikAmt2" class="tj-modal-btn-amount">{{ tipquik_cart_total | times: tipquik_settings_tip_percent_2 | divided_by: 100 | money }}</span>
            </button>
          </span>
        {% endif %}

        {% if tipquik_settings_tip_percent_3 %}
        <span class="tj-modal-btn-wrapper">
          <button id="tipQuikBtn3" type="button" class="tj-modal-btn" data-tipquik-add="{{ tipquik_cart_total | times: tipquik_settings_tip_percent_3 | divided_by: 100 }}">
            <span class="tj-modal-btn-percentage">{{tipquik_settings_tip_percent_3}}%</span>
            <span id="tipQuikAmt3" class="tj-modal-btn-amount">{{ tipquik_cart_total | times: tipquik_settings_tip_percent_3 | divided_by: 100 | money }}</span>
          </button>
        </span>
        {% endif %}
      </div>

      {% if tipquik_settings_enable_custom_tip_option %}
        <span class="tj-modal-btn-wrapper">
          <button id="tipQuikBtnCustom" type="button" class="tj-modal-btn">
            <span class="tj-modal-btn-percentage">Custom amount</span>
          </button>

          <span id="tipQuikCustomInputWrapper" class="tj-modal-input-wrapper" style="display: none;">
            <input id="tipQuikCustomInput" class="tj-modal-custom-input" type="number" value="0" min="0" inputmode="numeric" pattern="[0-9]*" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <button id="tipQuikCustomInputAdd" class="tj-modal-btn tj-modal-btn-percentage tj-modal-input-add" type="button" data-tipquik-add="0">Add</button>
          </span>
        </span>
      {% endif %}

      <span class="tj-modal-btn-none">
        <button type="button" class="tj-modal-btn" data-tipquik-add="0">
          <span class="tj-modal-btn-percentage">No tip</span>
        </button>
      </span>

      {% if tipquik_settings_enable_powered_tip_quik %}
        <span class="tj-modal-powered"><a href="https://aesymmetric.xyz/apps" target="_blank">Powered by Tip Quik</a></span>
      {% endif %}

      <div id="tipQuikSuccess" class="tj-modal-success-content" style="display: none;">
        <div>
          <div class="tj-modal-loading-icon-container">
            <svg class="tj-modal-loading-icon" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><path d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z"></path></svg>
          </div>
          <p class="tj-modal-success-title">Thank you</p>
          <p class="tj-modal-success-message">You are now being directed to the checkout page.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Add debug log to check if modal exists
    console.log('Modal element on load:', document.getElementById('tipQuikModal'));
    
    // Polyfill for event.submitter - start
    !function(){
        var lastBtn = null
        document.addEventListener('click',function(e){
            if (!e.target.closest) return;
            lastBtn = e.target.closest('button, input[type=submit]');
        }, true);
        document.addEventListener('submit',function(e){
            if (e.submitter) return;
            var canditates = [document.activeElement, lastBtn];
            for (var i=0; i < canditates.length; i++) {
                var candidate = canditates[i];
                if (!candidate) continue;
                if (!candidate.form) continue;
                if (!candidate.matches('button, input[type=button], input[type=image]')) continue;
                e.submitter = candidate;
                return;
            }
            e.submitter = e.target.querySelector('button, input[type=button], input[type=image]')
        }, true);
    }();
    // Polyfill for event.submitter - end

    var tipQuikAddedForShopPay = false;

    // App integrations

    // Zapiet app integration
    var zapietAppEnabled = false;
    var zapietOnlyShowModalForLocalDelivery = false;
    var zapietFirstVariantToAddProperties = null;
    var zapietFirstVariantPropertiesToNotOverwrite = null;
    var zapietOrderAttributesToNotOverwrite = null;

    var zapietIdLineItemProperty = null;
    var zapietDeliveryNoteProperty = '';

    if (typeof Zapiet !== 'undefined' && typeof Zapiet.Widget !== 'undefined') {
      zapietAppEnabled = true;

      function checkZapietAppLocalDeliverySelected() {
        const selectedMethod = document.querySelector('.checkoutMethod.active')
                                .querySelector('.checkoutMethodName').textContent;
        return selectedMethod === 'Local Delivery';
      }

      function getZapietId(params) {
        var fomatted_date = '';
        if (params.date && params.time) {
          var fomatted_date = params.date.replace(/\//g, "-");
          fomatted_date = fomatted_date + 'T' + params.time + ':00Z';
        } else if (params.date && params.start_time) {
          var fomatted_date = params.date.replace(/\//g, "-");
          fomatted_date = fomatted_date + 'T' + params.start_time + ':00Z';
        }
        return encodeZapietId({
          M: getZapietMethodKey(params.method),
          L: (params.location.id) ? params.location.id : "",
          D: fomatted_date,
          P: ""
        });
      }

      function getZapietMethodKey(method) {
        if (method == 'delivery') {
          return 'D';
        } else if (method == 'pickup') {
          return 'P';
        } else {
          return 'S';
        }
      }

      function encodeZapietId(params) {
        const ret = [];
        for (let d in params) {
          if (params[d]) {
            ret.push(d + '=' + params[d]);
          }
        }
        return ret.join('&');
      }

      window.ZapietEvent.listen("checkoutEnabled", function(payload) {
        console.log('zapietEvent checkoutEnabled event fired', payload);

        zapietIdLineItemProperty = getZapietId(payload);
        console.log('zapietIdLineItemProperty', zapietIdLineItemProperty);
        zapietDeliveryNoteProperty = payload.deliveryNote || '';
        console.log('zapietDeliveryNoteProperty', zapietDeliveryNoteProperty);
      });
      
      var handleAddingZapietLineItemProperty = function handleAddingZapietLineItemProperty(btn) {
        var zapietAdditionalProperties = zapietFirstVariantPropertiesToNotOverwrite;
        zapietAdditionalProperties['_ZapietId'] = zapietIdLineItemProperty;

        var zapietLineItemPropertyData = {
          'id': zapietFirstVariantToAddProperties,
          'properties': zapietFirstVariantPropertiesToNotOverwrite
        }

        fetch('/cart/change.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            mode: 'same-origin',
            credentials: 'same-origin',
            body: JSON.stringify(zapietLineItemPropertyData)
          }).then(function (response) {
            return response.json();
          }).then(function (data) {
            redirectToCheckout(btn);
          }).catch(function (error) {
            console.error('Error updating cart:', error);
            redirectToCheckout(btn);
          });
      }
    }

    // End Zapiet app integration

    // This checks app integrations before the onCartSubmit function is called
    var checkAppIntegrationsBeforeOnCartSubmit = function checkAppIntegrationsBeforeOnCartSubmit(event) {
      console.log('checkAppIntegrationsBeforeOnCartSubmit called');
      
      if (zapietAppEnabled && zapietOnlyShowModalForLocalDelivery) {
        console.log('Zapiet enabled with local delivery only');
        // Only show modal for local delivery if that setting is enabled
        if (Zapiet.Widget.checkoutEnabled() && checkZapietAppLocalDeliverySelected()) {  
          event.preventDefault();
          event.stopImmediatePropagation();
          onCartSubmit(event);
        } else {
          return false;
        }
      } else if (zapietAppEnabled) {
        console.log('Zapiet enabled');
        // Show modal if Zapiet checkout is enabled
        if (Zapiet.Widget.checkoutEnabled()) {
          event.preventDefault();
          event.stopImmediatePropagation();
          onCartSubmit(event);
        } else {
          return false;
        }
      } else {
        console.log('No Zapiet - showing modal');
        // Always show modal if Zapiet is not enabled
        event.preventDefault();
        event.stopImmediatePropagation();
        onCartSubmit(event);
      }
    }

    // End app integrations

    // This is the function that handles showing the tip modal pop-up
    var onCartSubmit = function onCartSubmit(event) {
      console.log('onCartSubmit called');
      
      if (typeof fetch == 'function') {
        console.log('Fetch is available');
      } else {
        console.error('Fetch not found, go straight to checkout.');
        window.location.href = '/checkout';
        return;
      }

      // Show modal
      var tipQuikModal = document.getElementById('tipQuikModal');
      console.log('Modal element:', tipQuikModal);
      tipQuikModal.classList.add('tj-show');
      console.log('Added tj-show class');

      // Grab up to date cart data (needed for ajax carts)
      fetch('/cart.js', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        mode: 'same-origin',
        credentials: 'same-origin'
      }).then(function (response) {
        return response.json();
      }).then(function (data) {
        var lineItems = data.items;
        var tjTotal = 0;

        if (zapietAppEnabled) {
          zapietFirstVariantToAddProperties = lineItems[0]?.variant_id;  // Save first variant ID to add Zapiet delivery/pickup attribute to
          zapietFirstVariantPropertiesToNotOverwrite = lineItems[0]?.properties;
          zapietOrderAttributesToNotOverwrite = data.attributes;

          console.log('First Variant ID:', zapietFirstVariantToAddProperties);
          console.log('First Variant Properties To Not Overwrite:', zapietFirstVariantPropertiesToNotOverwrite);
          console.log('Zapiet cart attributes', zapietOrderAttributesToNotOverwrite);
        }

        lineItems.forEach(function (item) {
          if (item.handle != 'tip-gratuity') {
            tjTotal = tjTotal + item.final_line_price;
          }
        });

        {% if tipquik_settings_tip_percent_1 > 0 %}
          document.getElementById('tipQuikAmt1').textContent = '{{ cart.currency.symbol }}' + (tjTotal * {{tipquik_settings_tip_percent_1}} / 10000).toFixed(2);
          document.getElementById('tipQuikBtn1').setAttribute('data-tipquik-add', (tjTotal * {{tipquik_settings_tip_percent_1}} / 100).toFixed(2));
        {% endif %}

        {% if tipquik_settings_tip_percent_2 > 0 %}
          document.getElementById('tipQuikAmt2').textContent = '{{ cart.currency.symbol }}' + (tjTotal * {{tipquik_settings_tip_percent_2}} / 10000).toFixed(2);
          document.getElementById('tipQuikBtn2').setAttribute('data-tipquik-add', (tjTotal * {{tipquik_settings_tip_percent_2}} / 100).toFixed(2));
        {% endif %}

        {% if tipquik_settings_tip_percent_3 > 0 %}
          document.getElementById('tipQuikAmt3').textContent = '{{ cart.currency.symbol }}' + (tjTotal * {{tipquik_settings_tip_percent_3}} / 10000).toFixed(2);
          document.getElementById('tipQuikBtn3').setAttribute('data-tipquik-add', (tjTotal * {{tipquik_settings_tip_percent_3}} / 100).toFixed(2));
        {% endif %}

        if (event.target.className == 'shopPay-overlay') {
          let tipQuikBtns = document.querySelectorAll('[data-tipquik-add]');
          tipQuikBtns.forEach(function (btn) {
            btn.setAttribute('data-shop-pay', true);
          });
        }

      }).catch(function (error) {
        console.error('Error grabbing cart data, go straight to checkout:', error);
        window.location.href = '/checkout';
      });
    };

    {% if tipquik_settings_enable_custom_tip_option %}
      var customBtn = document.getElementById('tipQuikBtnCustom');
      var customInputWrapper = document.getElementById('tipQuikCustomInputWrapper');
      var customInput = document.getElementById('tipQuikCustomInput');
      var customInputAdd = document.getElementById('tipQuikCustomInputAdd');

      customInput.oninput = function (event) {
        var tipValue = event.target.value;
        customInputAdd.setAttribute('data-tipquik-add', (tipValue * 100).toFixed(2));
      };

      customBtn.onclick = function (event) {
        event.preventDefault();
        customBtn.style.display = 'none';
        customInputWrapper.style.display = 'flex';
      }
    {% endif %}

    // This function handles adding the tip product to the cart when a tip option on the pop-up modal is selected
    var tipQuikAddBtns = document.querySelectorAll('[data-tipquik-add]');
    tipQuikAddBtns.forEach(function (btn) {
      btn.onclick = function (event) {

        document.getElementById('tipQuikSuccess').style.display = 'flex';

        {% if tipquik_settings_enable_custom_tip_option %}
          document.getElementById('tipQuikCustomInputWrapper').className = 'customInputHidden';
        {% endif %}

        var value = parseInt(event.currentTarget.getAttribute('data-tipquik-add'));
        var tipProductData = {
          updates: {
            {{ all_products['tip-gratuity'].first_available_variant.id }}: value
          }
        };

        if (zapietAppEnabled) {
          tipProductData['attributes'] = zapietOrderAttributesToNotOverwrite;
          tipProductData['attributes']['Delivery-Note'] = zapietDeliveryNoteProperty;
        }

        fetch('/cart/update.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          mode: 'same-origin',
          credentials: 'same-origin',
          body: JSON.stringify(tipProductData)
        }).then(function (response) {
          return response.json();
        }).then(function (data) {
          handleRedirectingToCheckout(btn);
        }).catch(function (error) {
          console.error('Error updating cart:', error);
          handleRedirectingToCheckout(btn);
        });
      };
    });

    var handleRedirectingToCheckout = function handleRedirectingToCheckout(btn) {
      if (zapietAppEnabled) {
        handleAddingZapietLineItemProperty(btn);
      } else {
        redirectToCheckout(btn);
      }
    }

    var redirectToCheckout = function redirectToCheckout(btn) {
      if (btn.getAttribute('data-shop-pay')) {
        document.querySelector('[data-testid="ShopifyPay-button"]').click();
      } else {
        window.location.href = '/checkout';
      }
    }

    // This handles closing the tip modal pop-up
    var tipQuikModalClose = document.getElementById('tipQuikModalClose');
    tipQuikModalClose.addEventListener('click', function() {
      var tipQuikModal = document.getElementById('tipQuikModal');
      tipQuikModal.classList.remove('tj-show');
    });

    // Set up checkout button click events to show modal pop-up
    var checkoutButtons = document.querySelectorAll('[name="checkout"]');
    console.log('Found checkout buttons:', checkoutButtons, checkoutButtons.length);

    if (checkoutButtons) {
      for (i = 0; i < checkoutButtons.length; ++i) {
        console.log('Adding click listener to button:', checkoutButtons[i]);
        checkoutButtons[i].addEventListener('click', function(event) {
          console.log('Checkout button clicked');
          checkAppIntegrationsBeforeOnCartSubmit(event);
        });
      }
    }

    // Also add direct click handler on document for checkout buttons
    document.addEventListener('click', function(event) {
      if (event.target.name === 'checkout' || event.target.getAttribute('name') === 'checkout') {
        console.log('Checkout button clicked through document listener');
        event.preventDefault();
        checkAppIntegrationsBeforeOnCartSubmit(event);
      }
    });

    // Modify the submit event listener to also log
    document.addEventListener('submit', function (event) {
      console.log('Form submit event:', event);
      console.log('Submit button:', event.submitter);
      if (event.submitter != null) {
        if (event.submitter.name == 'checkout') {
          console.log('Preventing default submit');
          event.preventDefault();
          checkAppIntegrationsBeforeOnCartSubmit(event);
        }
      }
    });

    // Set up checkout button for cart slider on Refresh theme override
    var cartDrawer = document.querySelector('cart-drawer');

    if (cartDrawer) {
      cartDrawer.addEventListener('click', function(event) {
        if (event.target.name == 'checkout') {
          checkAppIntegrationsBeforeOnCartSubmit(event);
        }
      });
    }

    // Set up shop pay button click event to show modal pop-up after it loads
    var checkShopPayBtnCount = 0;
    var checkShopPayBtn = setInterval(function() {
      let shopPayBtn = document.querySelector('[data-testid="ShopifyPay-button"]');
      if(shopPayBtn != null) {
        if (document.querySelector('.shopPay-overlay') == null) {
          let _parent = shopPayBtn.parentElement;
          let overlay = document.createElement('i');
          overlay.classList.add('shopPay-overlay');
          _parent.appendChild(overlay);
          overlay.addEventListener('click', function (event) {
            checkAppIntegrationsBeforeOnCartSubmit(event);
          });
        } else {
          checkShopPayBtnCount++;
          if (checkShopPayBtnCount >= 20) {
            clearInterval(checkShopPayBtn);
          }
        }
      }
    }, 2000);

    // Handle deleting text of elements with placeholder blank text value metafields "!!BLANK!!"
    var textSettingElements = document.querySelectorAll('.dp-setting-text');

    for (i = 0; i < textSettingElements.length; ++i) {
      var textSettingElement = textSettingElements[i];

      if (textSettingElement.innerHTML.includes("!!BLANK!!")) {
        textSettingElement.innerHTML = '';
      }
    }

    // Add test function to global scope
    window.testTipQuikModal = function() {
      console.log('Testing modal show');
      var tipQuikModal = document.getElementById('tipQuikModal');
      tipQuikModal.classList.add('tj-show');
      console.log('Modal classes after show:', tipQuikModal.className);
    };
  });
</script>


